a.recommendation__block__title-mini {
    display: block;
}

.recommendation__block .icon {
    z-index: 1;
}

.cheese-circle .icon[data-number] {
    opacity: 1;
}

/* sider 4 */

.product-use-carousel__carousel {
    padding: 20px 15px 30px;
}