.recommendation__block__title-mini p {
    color: #fff;
}
a.recommendation__block__title-mini {
    display: block;
}

.recommendation__block .icon {
    z-index: 1;
}

.cheese-circle .icon[data-number] {
    opacity: 1;
}

/* sider 4 */

.product-use-carousel__carousel {
    padding: 20px 15px 30px;
}

/* 404 */

.page404 {
    margin: 200px 0;
    text-align: center;
}
.page404__title {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 10px;
}
.page404__text {

}

/* Custom */
/*
    * Дергание контента
*/
.products-block__item  {
    width: 100%;
}

/* new */

.block-product-img__img {
    background: none;
    position: relative;
    background: #f0efe8;
    border-radius: 5px;
    width: auto;
}
.block-product-img__img.new:before {
    content: '';
    display: block;
    position: absolute;
    width: 147px;
    height: 151px;
    background: url("/assets/images/product/product-page/new.png") no-repeat;
    background-size: cover;
}


.footer .button-cheese span * {
    display: inline;
}

/* logo */

.header__logo::after {
    top: 71.4444444px;
}

/* text */
.production-spinner .text,
.block-product-img__description__line__name,
.text-one-recipe,
.block-product-img__description,
.contacts__item {
    color: #000;
    font-family: 'MyriadPro', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
    letter-spacing: .2px;
}

@media (min-width: 1000px) {
    .production-spinner .text {
        padding-right: 50px;
    }
}
/* head */

.header.fixed {
    background: rgba(255,255,255,0.5);
}

/* border-radius */

.one-recipe__img img {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 #aaa;
    overflow: hidden;
}

/* contact */

.filter__item__select .price {
    display: table;
    width: 100%;
}
.filter__item__select .price .right ,
.filter__item__select .price .left {
    display: table-cell;
    width: 50%;
    padding-right: 10px;
}
.filter__item__select .price .right {}
.filter__item__select .price .left {  }
.filter__item__select .price input {
    background: #fff;
    border: 0;
    padding: 5px 10px;
    box-shadow: 0 0 16px 2px rgba(68,68,68,0.25);
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;

    font-family: "PFBeauSansPro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}
.cheese__text * ,
.production-spinner .text {
    font-family: "PFBeauSansPro",sans-serif;
}

.structure-company__img_size img {
    width: auto;
    height: auto;
}
.block-product-text,
.cheese__link {
    font-family: "PFBeauSansPro",sans-serif;
}

.production-spinner .text {
    margin-bottom: 30px;
}

.products-block__item__image img {
    max-height: 165px;
}

.block-product-img__img {
    background: transparent;
}
.block-product-img__img img {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    max-width: 80%;
}
.text-brand,
.block-product-text {
    font-weight: 400;
}

/**/

.clients__carousel__item {
    display: table-cell;
    vertical-align: middle;
}
.clients__carousel__item img {
    max-width: 80%;
}

/**/
.tm-carousel__carousel__item {
    width: 100%;
    text-align: center;
}
.tm-carousel__carousel__item img {
    max-height: 80px;
}
